/**
 * @header
 */
body{
	width: 100%;
	overflow-x:hidden; 
}
#header{width: 100%;background-color: #F6F5F9;border-top: 10px solid #004b8d;}
#header .header_content{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
#header .logo{margin: 20px 0 0 0px;float: left;}
#header .nav{
	height: 16px;
	margin:42px 0 0 61px;
	font-size: 16px;
	float: right;
}
#header .nav li{
	padding: 0 24px;
	border-right: 1px solid #ccc;
	float: left;
	position: relative;
	font-weight: 600;
	z-index: 10;
}
.active{
	color: #E9141A;
}
.hover{
	color: #E9141A;
}
.nav dl{
	width: 112px;
	border: 1px solid #ddd;
	position: absolute;
	top:23px;
	left: -1px;
	border-radius: 3px;
	background-color: #fff;
	display: none;
}
.nav dd{
	height: 30px;
	line-height: 30px;
	padding-left: 16px;
	font-size: 14px;
}
.nav .icon{
  width: 112px;
  height: 10px;
  position: absolute;
  top: -10px;
 }
.top_icon,.button_icon{
	width: 0px;
	height: 0px;
	position: absolute;
	display: block;
	border: 5px solid;
}
.nav dl .top_icon{
	top:-1px;
	left: 50px;
	border-color: transparent transparent #ddd transparent;
}
.nav dl .button_icon{
	top:0px;
	left: 50px;
	border-color: transparent transparent #fff transparent;
}
/**
 * @banner
 */
#banner img{
	margin: 0 auto;
}
/**
 * @sidebar
 */
#content{
	overflow: hidden;
	margin: 38px auto 10px;
	width: 1000px;
} 
.sidebar{
	width: 220px;
	float: left;
}
.sidebar .sidebar_list{
	width: 190px;
	border-bottom: 1px solid #e4e4e4;
	font-size: 14px;
	line-height: 39px;
	height: 39px;
	padding-left: 30px;
	position: relative;
}
.sidebar .img{
	margin-top: 4px;
	height: 80px;
}
.sidebar .noneimg{
	width: 186px;
	height: 49px;
	line-height: 49px;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4; 
	padding-left: 32px;
}
.sidebar_list .top_icon{
	width: 5px;
	height: 5px;
	border: none;
	position: absolute;
	top:17px;
	left: 12px;
	background: url("../images/about/about.png") -5px -65px no-repeat;
}
.movie{
	width: 14px;
	height: 8px;
	position: absolute;
	top: 22px;
	left: 10px;
	background: url("../images/about/about.png") -45px -0px no-repeat;
}
.other{
	width: 14px;
	height: 12px;
	position: absolute;
	top: 20px;
	left: 10px;
	background: url("../images/about/about.png")  -45px -35px no-repeat;
}
.sidebar .h3{
	font-size: 20px;
	width: 210px;
	height: 39px;
	line-height: 39px;
	background-color: #eee; 
	padding-left: 10px;
	color: #000;
}
#content .content_brief{
	width: 760px;
	margin-left: 20px;
	float: right;
}
.brief_top{
	height: 39px;
	border-bottom: 1px solid #e4e4e4;
}
.brief_top h3{
	font-size: 20px;
	height: 39px;
	line-height: 39px;
	font-weight: lighter;
	float: left;
	color: #1d2b56;
}
.brief_top .submenu{
	float: right;
	line-height: 39px;
	padding-left: 14px;
	position: relative;
	color: #666;
}
.submenu .location{
	width: 12px;
	height: 12px;
	position: absolute;
	top: 13px;
	left: 0px;
	background: url("../images/about/about.png") 0px 0px no-repeat;
}
.submenu .current{
	color: #333;
}
/**
 * @footer
 */

#footer{
	width: 100%;
	background-color: #323333;
	height: 50px;
	padding: 15px 0px;
}
.footer_content{
	width: 850px;
	height: 50px;
	padding-left: 94px;
	margin: 0 auto;
	background: url("../images/home_page/home_page.png") -285px -330px no-repeat;
}
.footer_content ul{
	height: 12px;
	padding: 9px 0;
}
.footer_content ul li{
	height: 12px;
	line-height: 12px;
	padding: 0 8px;
	border-right: 1px solid #aaa;
	display: inline-block;
	*display: inline;
}
.footer_content li a{
	color: #aaa;
}
.footer_content p{
	padding-left: 8px;
	color: #666;
	font-family: SimSun;
}
