/**
 * @footer
 */

#footer{
	background-color: #323333;
	height: 50px;
	padding: 15px 0px;
}
.footer_content{
	height: 50px;
	padding-left: 94px;
	margin-left: 214px;
	background: url("bg/home_page/home_page.png") -285px -330px no-repeat;
}
.footer_content ul{
	height: 12px;
	padding: 9px 0;
}
.footer_content ul li{
	height: 12px;
	line-height: 12px;
	padding: 0 8px;
	border-right: 1px solid #aaa;
	display: inline-block;
	*display: inline;
}
.footer_content li a{
	color: #aaa;
}
.footer_content p{
	padding-left: 8px;
	color: #666;
	font-family: SimSun;
}
