/**
 * @header
 */
body{
	max-width: 100%;
	min-width: 1300px;
	overflow-x:hidden; 
}
#header{width: 100%;background-color: #F6F5F9;border-top: 10px solid #004b8d;}
#header .header_content{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
#header .logo{margin: 20px 0 0 0;float: left;}
#header .nav{
	height: 16px;
	margin:42px 0 0 61px;
	font-size: 16px;
	float: right;
}
#header .nav li{
	padding: 0 24px;
	border-right: 1px solid #ccc;
	float: left;
	position: relative;
	font-weight: 600;
	z-index: 10;
}
.active{
	color: #E9141A;
}
.hover{
	color: #E9141A;
}
.nav dl{
	width: 112px;
	border: 1px solid #ddd;
	position: absolute;
	top:23px;
	left: -1px;
	border-radius: 3px;
	background-color: #fff;
	display: none;
}
.nav dd{
	height: 30px;
	line-height: 30px;
	padding-left: 16px;
	font-size: 14px;
}
/**
 * IE7不支持伪类
 */
.top_icon,.button_icon{
	width: 0px;
	height: 0px;
	position: absolute;
	display: block;
	border: 5px solid;
}
.nav dl .top_icon{
	top:-11px;
	left: 50px;
	border-color: transparent transparent #ddd transparent;
}
.nav dl .button_icon{
	top:-10px;
	left: 50px;
	border-color: transparent transparent #fff transparent;
}