/**
 * @reset
 */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, 
 em, img, i,
dl, dt, dd, ol, ul, li,
 form, 
table, caption, tbody, tr, th, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}
ul,li {
    list-style:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #767777;

}
a:active,
a:hover {
  outline: 0;
}
img{border:none;display: block;}
/* change colours to suit your needs */
table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
html{font-size: 12px;}
body{font-family: "Microsoft YaHei",SimSun;}
.no_border{border-right: none!important;}
.clear{clear: both;}
.noborder_btm{
    border-bottom: none!important;
}