#content{
	overflow: hidden;
	margin: 38px auto 10px;
	width: 1000px;
} 
.sidebar{
	width: 220px;
	float: left;
}
.sidebar .sidebar_list{
	width: 190px;
	border-bottom: 1px solid #e4e4e4;
	font-size: 14px;
	line-height: 39px;
	height: 39px;
	padding-left: 30px;
	position: relative;
}
.sidebar .img{
	margin-top: 4px;
	height: 80px;
}
.sidebar .noneimg{
	width: 186px;
	height: 49px;
	line-height: 49px;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4; 
	padding-left: 32px;
}
.sidebar_list .top_icon{
	width: 5px;
	height: 5px;
	border: none;
	position: absolute;
	top:17px;
	left: 12px;
	background: url("bg/about/about.png") -5px -65px no-repeat;
}
.movie{
	width: 14px;
	height: 8px;
	position: absolute;
	top: 22px;
	left: 10px;
	background: url("bg/about/about.png") -45px -0px no-repeat;
}
.other{
	width: 14px;
	height: 12px;
	position: absolute;
	top: 20px;
	left: 10px;
	background: url("bg/about/about.png")  -45px -35px no-repeat;
}
.sidebar .h3{
	font-size: 20px;
	width: 210px;
	height: 39px;
	line-height: 39px;
	background-color: #eee; 
	padding-left: 10px;
	color: #000;
}
#content .content_brief{
	width: 760px;
	margin-left: 20px;
	float: right;
}
.brief_top{
	height: 39px;
	border-bottom: 1px solid #e4e4e4;
}
.brief_top h3{
	font-size: 20px;
	height: 39px;
	line-height: 39px;
	font-weight: lighter;
	float: left;
}
.brief_top .submenu{
	float: right;
	line-height: 39px;
	padding-left: 14px;
	position: relative;
}
.submenu .location{
	width: 12px;
	height: 12px;
	position: absolute;
	top: 13px;
	left: 0px;
	background: url("bg/about/about.png") 0px 0px no-repeat;
}