#banner{
	background:url("images/case/case_03.png") repeat;
}
.noneimg i{
	position: absolute;
	left: 10px;
	width: 16px;
	height: 16px;
}
.phone{
	top: 15px;
	background: url("images/home_page/home_page.png") -180px -330px no-repeat;
}
.mobile{
	top: 17px;
	background: url("images/home_page/home_page.png") -210px -330px no-repeat;
}
.mailbox{
	top: 19px;
	background: url("images/home_page/home_page.png") -210px -360px no-repeat;
}
.article{
	width: 742px;
	margin: 30px auto 24px;
	text-align: center;
	color: #1d2b56;
	font-size: 14px;
}
.article .title{
	border-bottom: 1px solid #eee;
}
.article .title h3{
	font-size: 18px;
}
.article .title span{
	display: block;
	color: #ababab;
	margin:15px 0;
}
.article p{
	line-height: 24px;
	text-align: left;
	margin: 30px auto;
}
.article img{
	margin: 0px auto;
}
.video{
	width: 640px;
	height: 500px;
	margin: 60px auto 0px;
	position: relative;
}
video{
	width: 640px;
	display: block;
}
.video i{
	position: absolute;
	background: url("images/words_view/works-view.png") no-repeat;
}
.play_top{
	width: 89px;
	height: 89px;
	background-position: 0px 0px;
	top: 135px;
	left: 275px;
}
.progress_bar{
	width: 100%;
	height: 6px;
	background-color: #555;
}
.progress{
	background-position: -0px -105px;
	width: 18px; 
	height: 18px;
	top: 353px;
	left: 0px; 
	z-index: 5;
}
.control{
	height: 40px;
	border: 1px solid #e5e5e5;
	border-top: none;
	background-color: #f5f5f5;
	position: relative;
}
.play{
	width: 14px; height: 16px;
	top: 12px;
	left: 16px;
	background-position:  -0px -135px;
	z-index: 5;
}