/**
 * banner
 */
#banner{
	background:url("../../images/case/case_03.png") repeat;
}
#banner img{
	max-width: 100%;
}
/**
 * @content
 */
.submenu_style{
	color: #767777;
}
.content_brief p{
	font-size: 14px;
	line-height: 22px;
	color: #333;
}
.content_brief .brief_img_top{
	width: 698px;
	height: 558px;
	position: relative;
	border: 1px solid #000;
	margin: 22px auto 0;
}
.brief_img0{
	position: absolute;
	border: 1px solid #000;
}
.brief_img1{
	top:0px;
	left: 0px;
}
.brief_img2{
	top:0px;
	left: 459px;
}
.brief_img3{
	top: 269px;
	left: 0px;
}
.brief_img4{
	top:269px;
	left: 212px;
}
.brief_img5{
	top: 269px;
	left: 432px;
}
.brief_img6{
	top: 414px;
	left: 432px;
}
.brief_img_btn{
	width: 700px;
	overflow: hidden;
	margin: 10px auto 0;
}
.brief_img_button{
	float: left;
}