/**
 * @banner
 */
#banner{
	background:url("../../images/case/case_03.png") repeat;
}
/**
 * #content
 */
.contact{
	width: 610px;
	height: 300px;
	margin: 10px auto 40px;
	background: url("../../images/contact/contact_05.png") right center no-repeat;
}
.contact h2{
	padding: 50px 0 34px 0;
	font-size: 24px;
	color: #1d2b56;
}
.contact p{
	font-size: 16px;
	line-height: 30px;
	color: #333;
}
.iw_poi_title {
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap
}
.iw_poi_content {
 	font:12px arial,sans-serif;
 	overflow:visible;
 	padding-top:4px;
 	white-space:-moz-pre-wrap;
 	word-wrap:break-word
 }
