/**
 * @banner
 */
#banner{
	width: 100%;
	position: relative;
}
.big_banner{
	width: 100%;
	height: 448px;
	overflow: hidden;
}
.big_banner img{
	width: 100%;
	height: 448px;
}
.directions{
	position: absolute;
	top: 50%;
	left: 50%;
}
.direction{
	cursor: pointer;
	width: 24px;
	height: 40px;
	position: absolute;
	background: url("../../images/home_page/home_page.png") no-repeat;
	display: none;
}
.left-direction{
	left: -474px;
	background-position:  -0px -360px;
}
.right-direction{	
	right: -450px;
	background-position: -45px -360px;
}
.small_icon{
	position: absolute;
	bottom: 30px;
	left: 48%;
}
.small_icon .icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 6px;
	float: left;
	background: url("../../images/home_page/home_page.png")  -45px -330px no-repeat;
}
.small_icon .icon1{
	background: url("../../images/home_page/home_page.png") -0px -330px no-repeat;
}
/**
 * @content
 */
#content{
	width: 100%;
	text-align: center;
	padding-top: 34px;
	background-color: #f6f7f7;
	margin: 0!important;
}
#content .content_mar{
	width: 1000px;
	margin: 0 auto;
}
#content .caption{
	position: relative;
	height: 30px;
	width: 500px;
	margin:0 auto;
}
#content .gradual_change{
	position: absolute;
	top: 15px;
	width: 500px;
	height: 1px;
 	background: linear-gradient(to right, rgba(255,255,255,0) 0,rgba(205,205,205,1) 20%,rgba(205,205,205,1) 80%,rgba(255,255,255,0) 100%); /* 标准的语法 */
}
#content span{
	color: #1d2b56;
	padding: 0 30px;
	font-size: 30px;
	font-family: SimSun;
	background-color: #f6f7f7;
	position: relative;
	z-index: 2;
	font-weight: bold;
}
#content p{
	line-height: 24px;
	color: #767676;
	margin: 50px auto 15px;
	font-size: 14px;
	color: #333;
}
.serviceBlocks{
	width: 976px;
	margin: 0px auto
}
.serviceBlocks li{
	width: 216px;
	height: 222px;
	margin: 0 14px 50px;
	float: left;
	text-align: center;
}
.serviceBlocks .publicity{
	background: url("../../images/home_page/index7_03_small.png") center 2px no-repeat;
}
.serviceBlocks .publicityhover{
	background: url("../../images/home_page/index7_03.png") center top no-repeat;
}
.serviceBlocks .ad{
	background: url("../../images/home_page/index7_05_small.png") center 2px no-repeat;
}
.serviceBlocks .adhover{
	background: url("../../images/home_page/index7_05.png") center top no-repeat;
}
.serviceBlocks .movies{
	background: url("../../images/home_page/index7_07_small.png") center 2px no-repeat;
}
.serviceBlocks .movieshover{
	background: url("../../images/home_page/index7_07.png") center top no-repeat;
}
.serviceBlocks .others{
	background: url("../../images/home_page/index7_09_small.png") center 2px no-repeat;
}
.serviceBlocks .othershover{
	background: url("../../images/home_page/index7_09.png") center top no-repeat;
}
.serviceBlocks dt{
	font-size: 18px;
	margin: 150px 0 10px;
}
.serviceBlocks dl{
	text-align: left;
	line-height: 18px;
	font-size: 12px;
}
.casewrap{
	width: 100%;
}
#caseWrap{
	width: 976px;
	margin: 21px auto;
	font-size: 14px;
}
#caseWrap .case_list{
	position: relative;
	float: left;
	
}
#caseWrap .cell{
	overflow: hidden;
	width: 600px;
	height: 80px;
	margin-left: 38px;
	margin-top: 24px;
}
#caseWrap .case_list ul{
	overflow: hidden;
	width: 9999px;
	height: 80px;
	position: relative;
}
#caseWrap .case_list li{
	float: left;
	margin: 0 5px;
}
.case_list .icon{
	position: absolute;
	top: 52px;
	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.case_list .icon_left{
	left: 0px;
	background: url("../../images/home_page/home_page.png") -90px -360px no-repeat;
}
.case_list .icon_right{
	left: 651px;
	background: url("../../images/home_page/home_page.png") -135px -360px no-repeat;
}
#caseWrap .contact{
	width: 280px;
	height: 140px;
	float: right;
	padding-left: 24px;
	background: url("../../images/home_page/index7_15.png") right top no-repeat;
}
.contact ul{
	margin-left: 24px;
	margin-top: 24px;
}
.contact li{
	height: 16px;
	padding-left: 23px;
	margin-bottom: 10px;
	position: relative;
	font-weight: 500;
}
.contact li i{
	position: absolute;
	left: 0px;
	width: 16px;
	height: 16px;
}
.phone{
	top: -1px;
	background: url("../../images/home_page/home_page.png") -180px -330px no-repeat;
}
.mobile{
	top: -1px;
	background: url("../../images/home_page/home_page.png") -210px -330px no-repeat;
}
.mailbox{
	top: 1px;
	background: url("../../images/home_page/home_page.png") -210px -360px no-repeat;
}
.fixed{
	position: fixed;
	width: 129px;
	height: 204px;
	top: 150px;
	right: -129px;
	background: url("../../images/home_page/fixed.png") 0 0 no-repeat;
}
.fixed .con{
	width: 100px;
	margin: 0 auto;
}
.fixed h4{
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 14px;
	color: #01a7d7;
	border-bottom: 1px solid #ade5ff;
}
.fixed p{
	width: 72px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	padding-left: 28px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.fixed p i{
	width: 21px;
	height: 18px;
	position: absolute;
	background: url("../../images/home_page/fixed.png") -135px -120px no-repeat;
	top: 9px;
	left: 0px;
}
.fixed li{
	height: 36px;
	line-height: 36px;
	width: 100px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.fixed li a{
	margin-top: 7px;
	display: inline-block;
	width: 74px;
	height: 22px;
	background: url("../../images/home_page//fixed.png") -135px -150px no-repeat;
}
.left_fixed{
	width:27px;
	height: 115px;
	position: absolute;
	top: 40px;
	left: -27px; 
	background: url("../../images/home_page//fixed.png") -135px -0px no-repeat;
}