/**
 * @banner
 */
#banner{
	background:url("../../images/case/case_03.png") repeat;
}
/**
 * @trends
 */
.trends{
	width: 740px;
	margin: 10px auto 60px;
}
.trends_list{
	overflow: hidden;
	height: 350px;
}
.trends_list li{
	height: 34px;
	border-bottom: 1px dotted #d3d3d3;
	color: #7a7a7a;
	line-height: 34px;
	list-style-position: inside;
	list-style-type: square;
}
.trends_list li a{
	font-size: 14px;
	color: #7a7a7a;
}
.trends_list li  span{
	font-size: 12px;
	color: #ababab;
	float: right;
}
.bottom_list{
	width: 220px;
	margin: 26px auto 0px;
}
.bottom_list dd{
	padding: 6px 8px;
	font-size: 14px;
	color: #7a7a7a;
	border: 1px solid #ccc;
	margin-right: 4px;
	float: left;
	cursor: pointer;
}
.bottom_list .bg{
	background-color: #1d2b56;
	color: #fff;
}