/**
 * @banner
 */
#banner{
	background:url("../../images/case/case_03.png") repeat;
}
/**
 * content
 */
.noneimg i{
	position: absolute;
	left: 10px;
	width: 16px;
	height: 16px;
}
.phone{
	top: 15px;
	background: url("../../images/home_page/home_page.png") -180px -330px no-repeat;
}
.mobile{
	top: 17px;
	background: url("../../images/home_page/home_page.png") -210px -330px no-repeat;
}
.mailbox{
	top: 19px;
	background: url("../../images/home_page/home_page.png") -210px -360px no-repeat;
}
.trends_list{
	overflow: hidden;
	height: 600px;
}
.content_brief table{
	margin-top: 30px;
}
.content_brief td{
	padding: 0 50px 30px 0;
	text-align: center;
	font-size: 14px;
}
.content_brief td img{
	border: 3px solid #eee;
	margin-bottom: 15px;
}
.content_brief td a{
	color: #666;
	display: block;
}
.bottom_list{
	width: 380px;
	margin: 26px auto 0px;
}
.bottom_list dd{
	padding: 6px 8px;
	font-size: 14px;
	color: #7a7a7a;
	border: 1px solid #ccc;
	margin-right: 4px;
	float: left;
	cursor: pointer;
}
.bottom_list .bg{
	background-color: #1d2b56;
	color: #fff;
}